
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #BCE3E2;
}
.card{
    background-color: white;
}
.menus{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.textoPrincipal{
    display: flex;
    align-self: flex-start;

}